.sidebar nav[role="doc-toc"] ul > li > a.active,
.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
  border-left: 1px solid maroon;
  color: maroon !important;
}

.quarto-title-banner {
  margin-bottom: 1em;
  color: #545555;
  background: #8f1d1c0a;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #316e6b !important;
}

.btn {
  background-color: #316e6b !important;
}

.quarto-title-meta-contents a {
  font-size: 0; /* Hide the original text */
}

.quarto-title-meta-contents a[href$=".pdf"]::after {
  content: "PDF";
  font-size: 10.8pt;
}
