
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid maroon;
    color: maroon !important;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: #545555;
    background: #8f1d1c0a;
}